@using Microsoft.AspNetCore.Identity
@using RAFS.Core.Models

@{
    var profile = (AspUser)ViewBag.Profile;
}

@model AddPasswordModel
<head>
    <script src="~/js/javascrip.js"></script>
</head>

<table class="table table-borderless table-sm">
    <tbody>
        <input type="hidden" class="form-control" asp-for="UserId" id="UserId" name="UserId" value="@profile.Id">
        
        <tr>
            <td>Mật khẩu:</td>
            <td>
                <input type="password" class="form-control" asp-for="newPassword" id="addPassword" name="addPassword" placeholder="Nhập mật khẩu">
            </td>
        </tr>
        <tr>
            <td>Nhập lại mật khẩu:</td>
            <td>
                <input type="password" class="form-control" asp-for="newPasswordConfirm" id="addPasswordConfirm" name="addPasswordConfirm" placeholder="Nhập lại mật khẩu">
            </td>
        </tr>
    </tbody>
</table>

