@using RAFS.Core.DTO

@{
    Layout = "_LoginLayout";
    ViewBag.Title = "Reset Password";
}

<style>

</style>

<head>
    <link rel="icon" type="image/png" href="~/Assets/HomePage/img/core-img/rafs.ico">
    <title>Tạo mật khẩu mới</title>
</head>

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <a asp-action="Index" asp-controller="Home">
                                <img src="~/Assets/HomePage/img/core-img/rafs-logo.png" alt="logo">
                            </a>
                        </div>
                        <h4>Thành công!</h4>
                        <p>
                            Mật khẩu của bạn đã được thay đổi. <a asp-action="Login" asp-controller="Authentication">Đăng nhập</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
