@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(/Assets/HomePage/img/bg-img/about-bg.jpg);">
        <h2>Về Chúng Tôi</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home"><i class="fa fa-home"></i> Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Về Chúng Tôi</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### About Area Start ##### -->
<section class="about-us-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>GIỚI THIỆU VỀ HỆ THỐNG</h2>
                    <p>Hệ thống quản lý trang trại từ xa (R.A.F.S)</p>
                </div>
                <p>
                    Trong xã hội hiện đại ngày nay, ngành nông nghiệp đang phải đối mặt với nhiều thách thức, 
                    bao gồm biến đổi khí hậu, nguồn tài nguyên đất và nước hạn chế, cùng với việc tăng cường 
                    chuỗi cung ứng toàn cầu. Điều này gây ra sự phức tạp trong việc quản lý, phân phối cây trồng từ 
                    nguồn gốc đến thị trường tiêu thụ và thường dẫn đến lãng phí tài nguyên, 
                    thiếu minh bạch trong quá trình sản xuất. 
                </p>
                <p>
                    Vì vậy, chúng tôi phát triển Remote Administrator Farm System (RAFS) nhằm phục vụ nhu cầu của phần đông
                    những khách hàng có nhu cầu quản lý trang trại (vừa và nhỏ) theo cách hiệu quả hơn.
                </p>
            </div>

            <div class="col-12 col-lg-6">
                <div class="alazea-benefits-area">
                    <div class="row">
                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="img/core-img/b1.png" alt="">
                                <h5>Chuyển đổi số</h5>
                                <p>Hệ thống lưu trữ và sử dụng AI để phân tích dữ liệu đó nhằm đưa ra đánh giá về cây trồng trong tương lai</p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="img/core-img/b2.png" alt="">
                                <h5>Đơn giản</h5>
                                <p>Giao diện đơn giản thân thiện giúp người dùng làm quen thao tác với hệ thống dễ dàng</p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="img/core-img/b3.png" alt="">
                                <h5>Bảo mật</h5>
                                <p>Hệ thống sử dụng công nghệ bảo mật hiện đại, bảo vệ dữ liệu của khách hàng.</p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="img/core-img/b4.png" alt="">
                                <h5>Tiết kiệm thời gian</h5>
                                <p>Chủ trang trại quản lý nhân viên, trang trại của mình từ xa giúp tiết kiệm thời gian và nâng cao hiệu suất</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="border-line"></div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Area End ##### -->
<!-- ##### Service Area Start ##### -->
<section class="our-services-area bg-gray section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Dịch vụ của RAFS</h2>
                </div>
            </div>
        </div>

        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-5">
                <div class="alazea-service-area mb-100">

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="/Assets/Homepage/img/core-img/s1.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Quản lý trang trại</h5>
                            <p>Các kỹ thuật viên quản lý, theo dõi, giám sát và ghi lại chi tiết các hoạt động cơ bản trên trang trại như trồng trọt, chăm sóc, thu hoạch, chi tiêu và nguyên liệu thô.</p>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="/Assets/Homepage/img/core-img/b4.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Phân tích trang trại</h5>
                            <p>Từ dữ liệu thu thập được, hệ thống tổng hợp và phân tích nhằm giúp Chủ trang trại đưa ra các quyết định về trang trại trong tương lai</p>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="/Assets/Homepage/img/core-img/b3.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Truyền thông</h5>
                            <p>Khách hàng có thể đánh giá sản phẩm của trang trại qua kênh blog để đưa ra quyết định hợp tác, mua bán, đầu tư</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-6">
                <img style="margin-bottom: 60px; border-radius:10px" src="/Assets/Homepage/img/bg-img/about-img.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<!-- ##### Cool Facts Area End ##### -->
<!-- ##### Team Area Start ##### -->
<section class="team-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Đội ngũ phát triển</h2>
                </div>
            </div>
        </div>

        <div class="row" style="justify-content:center">

            <!-- Single Team Member Area -->
            <div class="col-12 col-sm-6 col-lg-2">
                <div class="single-team-member text-center mb-100">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="/Assets/Homepage/img/bg-img/kien.jpg" alt="member">
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info mt-30">
                        <h5>Trần Trung Kiên</h5>
                        <p>Nhà phát triển</p>
                    </div>
                </div>
            </div>

            <!-- Single Team Member Area -->
            <div class="col-12 col-sm-6 col-lg-2">
                <div class="single-team-member text-center mb-100">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="/Assets/Homepage/img/bg-img/tung.jpg" alt="member">
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info mt-30">
                        <h5>Hoàng Xuân Tùng</h5>
                        <p>Nhà phát triển</p>
                    </div>
                </div>
            </div>

            <!-- Single Team Member Area -->
            <div class="col-12 col-sm-6 col-lg-2">
                <div class="single-team-member text-center mb-100">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="/Assets/Homepage/img/bg-img/hoang.jpg" alt="member">
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info mt-30">
                        <h5>Cao Mạnh Hoàng</h5>
                        <p>Quản lý dự án</p>
                    </div>
                </div>
            </div>

            <!-- Single Team Member Area -->
            <div class="col-12 col-sm-6 col-lg-2">
                <div class="single-team-member text-center mb-100">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="/Assets/Homepage/img/bg-img/minh.jpg" alt="member">
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info mt-30">
                        <h5>Nguyễn Đức Minh</h5>
                        <p>Nhà phát triển</p>
                    </div>
                </div>
            </div>

            <!-- Single Team Member Area -->
            <div class="col-12 col-sm-6 col-lg-2">
                <div class="single-team-member text-center mb-100">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="/Assets/Homepage/img/bg-img/Dung.jpg" alt="member">
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info mt-30">
                        <h5>Nguyễn Đắc Dũng</h5>
                        <p>Nhà phát triển</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
