<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <div class="hero-post-slides owl-carousel">

        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(Assets/HomePage/img/bg-img/bg-homepage.jpg);"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>Hệ thống hỗ trợ quản lý trang trại từ xa</h2>
                            <p>Bắt kịp thời đại bằng cách số hóa quy trình quản lý, 
                                chăm sóc cây trồng giúp cải thiện năng suất, tiết kiệm chi phí, 
                                quy trình chăm sóc cây trở nên minh bạch, hiệu quả đồng thời nhận những phân tích 
                                chính xác nhất của hệ thống hơn so với những phương pháp truyền thống.
                            </p>
                            <div class="welcome-btn-group">
                                <a href="/Register" class="btn alazea-btn mr-30">Đăng Ký</a>
                                <a href="/Home/AboutUs" class="btn alazea-btn active">Giới Thiệu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(Assets/HomePage/img/bg-img/bg2.jpg);"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>Các trang trại trên hệ thống của chúng tôi</h2>
                            <p>Xem ngay các trang trại và quy trình trồng cây chi tiết của những trang trại để hiểu về quy trình quản lý và độ chính xác trên hệ thống cũng như những sản phẩm cây trồng có tiềm năng</p>
                            <div class="welcome-btn-group">
                                <a href="/Home/Farm" class="btn alazea-btn mr-30">Xem trang trại</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(Assets/HomePage/img/bg-img/bg3.jpg);"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>Những chia sẻ, kinh nghiệm của các chủ nông trại trên hệ thống</h2>
                            <p>Đọc ngay những bài blog trên hệ thống có được từ kinh nghiệm của người chủ trang trại tại đây.</p>
                            <div class="welcome-btn-group">
                                <a href="/Home/Blog" class="btn alazea-btn mr-30">Xem Blog</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ##### Hero Area End ##### -->
<!-- ##### Service Area Start ##### -->
<section class="our-services-area bg-gray section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Dịch vụ của RAFS</h2>
                </div>
            </div>
        </div>

        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-5">
                <div class="alazea-service-area mb-100">

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="/Assets/Homepage/img/core-img/s1.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Quản lý trang trại</h5>
                            <p>Các kỹ thuật viên quản lý, theo dõi, giám sát và ghi lại chi tiết các hoạt động cơ bản trên trang trại như trồng trọt, chăm sóc, thu hoạch, chi tiêu và nguyên liệu thô.</p>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="/Assets/Homepage/img/core-img/b4.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Phân tích trang trại</h5>
                            <p>Từ dữ liệu thu thập được, hệ thống tổng hợp và phân tích nhằm giúp Chủ trang trại đưa ra các quyết định về trang trại trong tương lai</p>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="/Assets/Homepage/img/core-img/b3.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Truyền thông</h5>
                            <p>Khách hàng có thể đánh giá sản phẩm của trang trại qua kênh blog để đưa ra quyết định hợp tác, mua bán, đầu tư</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-6">
                <img style="margin-bottom: 60px; border-radius:10px" src="/Assets/Homepage/img/bg-img/about-img.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- ##### Service Area End ##### -->
<!-- ##### About Area Start ##### -->
<section class="about-us-area section-padding-100-0">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>GIỚI THIỆU VỀ HỆ THỐNG</h2>
                    <p>Hệ thống quản lý trang trại từ xa (R.A.F.S)</p>
                </div>
                <p>
                    Trong xã hội hiện đại ngày nay, ngành nông nghiệp đang phải đối mặt với nhiều thách thức,
                    bao gồm biến đổi khí hậu, nguồn tài nguyên đất và nước hạn chế, cùng với việc tăng cường
                    chuỗi cung ứng toàn cầu. Điều này gây ra sự phức tạp trong việc quản lý, phân phối cây trồng từ
                    nguồn gốc đến thị trường tiêu thụ và thường dẫn đến lãng phí tài nguyên,
                    thiếu minh bạch trong quá trình sản xuất.
                </p>
                <p>
                    Vì vậy, chúng tôi phát triển Remote Administrator Farm System (RAFS) nhằm phục vụ nhu cầu của phần đông
                    những khách hàng có nhu cầu quản lý trang trại (vừa và nhỏ) theo cách hiệu quả hơn.
                </p>
            </div>

            <div class="col-12 col-lg-6">
                <div class="alazea-benefits-area">
                    <div class="row">
                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="img/core-img/b1.png" alt="">
                                <h5>Chuyển đổi số</h5>
                                <p>Hệ thống lưu trữ và sử dụng AI để phân tích dữ liệu đó nhằm đưa ra đánh giá về cây trồng trong tương lai</p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="img/core-img/b2.png" alt="">
                                <h5>Đơn giản</h5>
                                <p>Giao diện đơn giản thân thiện giúp người dùng làm quen thao tác với hệ thống dễ dàng</p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="img/core-img/b3.png" alt="">
                                <h5>Bảo mật</h5>
                                <p>Hệ thống sử dụng công nghệ bảo mật hiện đại, bảo vệ dữ liệu của khách hàng.</p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="img/core-img/b4.png" alt="">
                                <h5>Tiết kiệm thời gian</h5>
                                <p>Chủ trang trại quản lý nhân viên, trang trại của mình từ xa giúp tiết kiệm thời gian và nâng cao hiệu suất</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="border-line"></div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Area End ##### -->

<!-- ##### Product Area Start ##### -->
<section class="new-arrivals-products-area bg-gray section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Trang trại trong hệ thống</h2>
                    <p>Những trang trại với quy trình chăm sóc, quản lý hiện đại</p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-12 col-md-8 col-lg-12">
                <div class="shop-products-area">
                    <div class="row" id="content-farm">

                    </div>
                </div>
            </div>

            <div class="col-12 text-center">
                <a href="/Home/Farm" class="btn alazea-btn">Xem tất cả</a>
            </div>

        </div>
    </div>
</section>
<!-- ##### Product Area End ##### -->
<!-- ##### Blog Area Start ##### -->
<section class="alazea-blog-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Blogs</h2>
                    <p>Những chia sẻ của chủ trang trại trên hệ thống</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center" id="content-recentBlog">

            <!-- Single Blog Post Area -->
            

            
        </div>
        <div style="margin-bottom: 70px; margin-top: -50px" class="col-12 text-center">
            <a href="/Home/Blog" class="btn alazea-btn">Xem tất cả</a>
        </div>
    </div>
</section>
<!-- ##### Blog Area End ##### -->
<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-50-0">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>Liên hệ</h2>
                    <p>Gửi thắc mắc, đánh giá về hệ thống cho chúng tôi!</</p>
                </div>
                <!-- Contact Form Area -->
                <div class="contact-form-area mb-100">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="contact-name" placeholder="Tên của bạn">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="contact-email" placeholder="Địa chỉ Email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="contact-subject" placeholder="Chủ đề">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" id="content" cols="30" rows="10" placeholder="Nội dung" required></textarea>
                                </div>
                            </div>
                            
                            <div style="margin-bottom: 10px; margin-top: -10px" class="col-12">
                                <button type="button" id="sendbtn" class="btn alazea-btn mt-15">Gửi</button>
                            </div>
                            
                            <div class="col-12">
                                <div id="success-message" style="display: none;" class="alert alert-success" role="alert">
                                    Gửi thành công! Chúng tôi sẽ phản hồi bạn qua email sớm nhất có thể nhé
                                </div>
                            </div>

                            <div class="col-12">
                                <div id="missing-input-message" style="display: none;" class="alert alert-danger" role="alert">
                                    Vui lòng điền đủ các trường thông tin
                                </div>
                            </div>

                            <div class="col-12">
                                <div id="invalid-email-message" style="display: none;" class="alert alert-danger" role="alert">
                                    Địa chỉ email không hợp lệ !
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <!-- Google Maps -->
                <div class="map-area mb-100">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.49405301772!2d105.52340642379674!3d21.012908838325743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abc60e7d3f19%3A0x2be9d7d0b5abcbf4!2sFPT%20University!5e0!3m2!1sen!2s!4v1709452733957!5m2!1sen!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->

@section Scripts{
    <script>
        $(document).ready(function () {

            $.ajax({
                url: `https://localhost:7043/api/HomePage/GetFilteredBlog/1`,
                method: 'GET',
                data: {
                    sort: "asc",
                    pageResults: 3,
                },
                contentType: 'application/json',
                success: (data) => {
                    $('#content-recentBlog').html('');
                    if (data && data.blogs.length > 0) {
                        $('#content-recentBlog').html(generateHtmlBlog(data.blogs));
                    }
                },
                error: function () {
                    console.error('Failed to fetch data.');
                }
            });

            const generateHtmlBlog = (data) => {
            let dataGrid = '';
            var now = new Date(); // Lấy ngày giờ hiện tại
            data.forEach(element => {
                var createDate = new Date(element.createDate);
                if (element.imageURL.length >= 1) {
                    dataGrid +=
                        `
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-blog-post mb-100">
                                    <div class="post-thumbnail mb-30">
                                    <a href="/Home/BlogDetails?id=${element.id}"><img style="border-radius: 10px; width: 350px; height: 255.5px; object-fit: cover;" src="${element.imageURL[0]}" alt=""></a>
                                    </div>
                                <div class="post-content">
                                <a href="/Home/BlogDetails?id=${element.id}" class="post-title">
                                    <h5>${element.title}</h5>
                                </a>
                            <div class="post-meta">
                        `;
                    if (createDate !== undefined && createDate instanceof Date) {
                        if (now.getDate() == createDate.getDate() &&
                            now.getMonth() == createDate.getMonth() &&
                            now.getFullYear() == createDate.getFullYear() &&
                            now.getHours() == createDate.getHours()) {
                            dataGrid += '<a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> ' + (now.getMinutes() - createDate.getMinutes()) + ' phút trước';
                        } else if (now.getDate() == createDate.getDate() &&
                            now.getMonth() == createDate.getMonth() &&
                            now.getFullYear() == createDate.getFullYear()) {
                            dataGrid += '<a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> ' + (now.getHours() - createDate.getHours()) + ' giờ trước' ;
                        } else if (now.getMonth() == createDate.getMonth() &&
                            now.getFullYear() == createDate.getFullYear()) {
                            dataGrid += '<a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> ' + (now.getDate() - createDate.getDate()) + ' ngày trước' ;
                        } else {
                            dataGrid += '<a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> ' + 'Đăng tại ' + createDate.toLocaleDateString('en-GB') ;
                        }
                    }

                    else {

                        console.log(item.createDate + "Error Create Date"); // Thử truy cập thuộc tính createDate hoặc CreateDate
                    }
                    dataGrid += `

                                                                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i>${element.authorName} </a>
                                            </div>

                                            </div>
                                            </div>
                                            </div>

                                                    `;
                }
                else {
                    
                    dataGrid +=
                        `
                                    <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-blog-post mb-100">
                                    <div class="post-thumbnail mb-30">
                                    <a href="/Home/BlogDetails?id=${element.id}"><img style="border-radius: 10px; width: 350px; height: 255.5px; object-fit: cover;" src="https://drive.google.com/thumbnail?id=13IJN0-DdSdm8_kSaZwEBNHR_NFODslnT" src="${element.imageURL[0]}" alt=""></a>
                                    </div>
                                <div class="post-content">
                                <a href="/Home/BlogDetails?id=${element.id}" class="post-title">
                                    <h5>${element.title}</h5>
                                </a>
                            <div class="post-meta">
                                            `;
                    if (createDate !== undefined && createDate instanceof Date) {
                        if (now.getDate() == createDate.getDate() &&
                            now.getMonth() == createDate.getMonth() &&
                            now.getFullYear() == createDate.getFullYear() &&
                            now.getHours() == createDate.getHours()) {
                            dataGrid += '<a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> ' + 'Đăng tại ' + (now.getMinutes() - createDate.getMinutes()) + ' phút trước';
                        } else if (now.getDate() == createDate.getDate() &&
                            now.getMonth() == createDate.getMonth() &&
                            now.getFullYear() == createDate.getFullYear()) {
                            dataGrid += '<a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> ' + 'Đăng tại ' + (now.getHours() - createDate.getHours()) + ' giờ trước';
                        } else if (now.getMonth() == createDate.getMonth() &&
                            now.getFullYear() == createDate.getFullYear()) {
                            dataGrid += '<a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> ' + 'Đăng tại ' + (now.getDate() - createDate.getDate()) + ' ngày trước';
                        } else {
                            dataGrid += '<a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> ' + 'Đăng tại ' + createDate.toLocaleDateString('en-GB') ;
                        }
                    }
                    else {

                        console.log(item.createDate + "Error Create Date"); // Thử truy cập thuộc tính createDate hoặc CreateDate
                    }
                    dataGrid += `

                                                                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i>${element.authorName} </a>
                                            </div>

                                            </div>
                                            </div>
                                            </div>

                                                    `;
                }
            });
            return dataGrid;
        };
            
            const fetchFarms = (farms) => {
                $.ajax({
                    url: `https://localhost:7043/api/HomePage/GetNewestFarm`,
                    method: 'GET',
                    contentType: 'application/json',
                    success: (data) => {
                        $('#content-farm').html('');
                        if (data) {
                            $('#content-farm').html(generateHtmlFarm(data));
                        }
                        console.log(data);
                    },
                    error: function () {
                        console.error('Failed to fetch data.');
                    }
                });
            };

            const generateHtmlFarm = (data) => {
                let dataGrid = '';
                data.forEach(element => {
                    dataGrid +=
                        `
                <div style="margin-bottom: 30px" class="col-md-6 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch d-md-flex">
                        <a data-id="${element.id}" href="/Home/FarmDetails?id=${element.id}"><img style="border-radius: 10px; width: 130px; height: 130px; object-fit: cover;" src="${element.logo}" alt="logo farm"></a>
                        <div class="text d-block pl-md-4">
                            <h3><a style="font-size: 20px" href="/Home/FarmDetails?id=${element.id}">${element.name}</a></h3>
                            <p class="truncate" id="mytext">${element.description}</p>
                            <a href="/Home/FarmDetails?id=${element.id}">
                                <button style="border-radius: 10px" type="button" class="btn btn-success">Chi tiết</button>
                            </a>
                        </div>
                    </div>
                </div>
                `;
                });
                return dataGrid;
            };

            // Initial fetch
            fetchFarms();

            $('#sendbtn').click(() => {
                let name = $('#contact-name').val(),
                    email = $('#contact-email').val(),
                    subject = $('#contact-subject').val(),
                    content = $('#content').val();

                // Kiểm tra điều kiện: nếu có bất kỳ trường nào trống, hiển thị thông báo và không gửi AJAX request
                if (name.trim() === '') {
                    $('#missing-input-message').show();
                    setTimeout(function () {
                        $('#missing-input-message').hide();
                    }, 5000); // 5000 milliseconds = 5 giây
                    return; // Ngăn chặn việc tiếp tục thực hiện
                }

                if (email.trim() === '') {
                    $('#missing-input-message').show();
                    setTimeout(function () {
                        $('#missing-input-message').hide();
                    }, 5000); // 5000 milliseconds = 5 giây
                    return; // Ngăn chặn việc tiếp tục thực hiện
                }

                if (subject.trim() === '') {
                    $('#missing-input-message').show();
                    setTimeout(function () {
                        $('#missing-input-message').hide();
                    }, 5000); // 5000 milliseconds = 5 giây
                    return; // Ngăn chặn việc tiếp tục thực hiện
                }

                if (content.trim() === '') {
                    $('#missing-input-message').show();
                    setTimeout(function () {
                        $('#missing-input-message').hide();
                    }, 5000); // 5000 milliseconds = 5 giây
                    return; // Ngăn chặn việc tiếp tục thực hiện
                }

                let emailRegex = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
                if (!emailRegex.test(email)) {
                    $('#invalid-email-message').show();
                    setTimeout(function () {
                        $('#invalid-email-message').hide();
                    }, 5000); // 5000 milliseconds = 5 giây
                    return; // Ngăn chặn việc tiếp tục thực hiện
                }

                $.ajax({
                    url: 'https://localhost:7043/api/Guest/SendQuestionForm',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "guestName": name,
                        "email": email,
                        "title": subject,
                        "description": content
                    }),
                    success: function (data) {
                        console.log(data);
                        $('#success-message').show();
                    },
                    error: function (xhr, status, error) {
                        console.log("error");
                        //console.log(usernameR + "\n" + passwordR + "\n" + emailR + "\n" + phoneR + "\n" + fullNameR);
                    }

                })
            })

        });

    </script>

    <script>
        var text = document.getElementById('myText').innerText;
        var maxLength = 150; // Set your desired maximum length
        var truncated = text.length > maxLength ? text.substring(0, maxLength) + '...' : text;
        document.getElementById('myText').innerText = truncated;
    </script>
}